{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h1>
          {% if edit_mode %}
            Edit choice
          {% else %}
            Add choice
          {% endif %}
        </h1>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">
              {% if edit_mode %}
                Edit
              {% else %}
                Add
              {% endif %}
            </button>
            {% if edit_mode %}
              <a href="{% url 'polls:choice_confirm_delete' choice.id %}"
                  class='btn btn-danger'>
                  <i class="far fa-trash-alt"></i> Delete
              </a>
            {% endif %}
        </form>      
      </div>
    </div>
  </div>
{% endblock %}