{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h1>Edit poll</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'polls:add_choice' poll.id %}" class="btn btn-warning">Add choice</a>
        </form>
        <h3>Choices</h3>
        {% for choice in poll.choice_set.all %}
        <p><a href="{% url 'polls:edit_choice' choice.id %}"><i class="fas fa-pencil-alt"></i></a> {{ choice.choice_text }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}