{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col">
          <h1>{{ poll.text }} </h1>

          {% if messages %}
              <div class="alert alert-danger" role="alert">
                  <ul class="messages">
                      {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      {% endfor %}
                  </ul>
              </div>
          {% endif %}


          <p>{{poll}} - {{poll.num_votes}} votes</p>
          <form action="{% url 'polls:vote' poll.id %}" method="post">
            {% csrf_token %}

            {% for choice in poll.choice_set.all %}
            <div class="form-group">
              <input type="radio"
                name="choice"
                id="choice{{ foorloop.counter}}"
                value="{{ choice.id }}" />
              <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} - {{ choice.num_votes }}</label>
            </div>
            {% endfor %}

            <button type="submit" value="Vote" class="btn btn-primary" {% if not user_can_vote %}disabled{% endif %}>Vote</button>

          </form>

          {% for choice_dict in results %}
            <div class="progress my-5">
              <div class="progress-bar" role="progressbar" style="width: {{choice_dict.percentage}}%;">{{choice_dict.num_votes}}</div>
            </div>
          {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}